<nav class="main-nav overlay clearfix">

    {{#if @blog.logo}}

        <a class="blog-logo" href="{{@blog.url}}">
            <img src="{{@blog.logo}}" alt="{{@blog.title}}"/>
        </a>

    {{/if}}

    {{#if @blog.navigation}}

        <a class="menu-button icon-facebook" href="#">
            <span class="word">Menu</span>
        </a>

    {{/if}}

<br><br>

<a class=“social-logo” href="http://www.facebook.com/ubcmedmind" target="_blank"><i class="icon-facebook"></i></a> <a class=“social-logo” href="http://www.twitter.com/ubcmedmind" target="_blank"><i class="icon-twitter"></i></a>

<br>

<a class=“social-logo” href="http://www.twitter.com/ubcmedmind" target="_blank"><i class="icon-twitter"></i></a>

</nav>
