<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
    <ul>
        {{#foreach navigation}}
            <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
        {{/foreach}}
    </ul>
    <a class="subscribe-button icon-facebook” href="http://www.facebook.com/ubcmedmind" target="_blank">Like Us</a>
<a class="subscribe-button icon-twitter” href="http://www.twitter.com/ubcmedmind" target="_blank">Follow Us</a>
</div>
<span class="nav-cover"></span>
